@import url("https://fonts.googleapis.com/css2?family=Coiny&family=DM+Sans:wght@100;200;300;400;500;600;700;800&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Sono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=DM+Sans:wght@100;200;300;400;500;600;700;800&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Sono:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin: 0;
  --bs-gutter-x: 0;
  max-width: 100%;
  padding: 0;
}

body {
  background: #fff;
  height: 100vh;
  background-size: 300% 500%;
  overflow-x: hidden;
  background-attachment: fixed;
  font: 100% "Jost", sans-serif;
  position: relative;
}

.section1 .navbar {
  margin-left: 0 !important;
}
.section1 .shop-nav {
  margin-left: 0 !important;
}
.section1 .navbar-brand2 {
  margin-left: 190px !important;
}

.section2 {
  text-align: center;
  margin-top: 100px !important;
}
.section2 .btn-shop {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
  background-color: black !important;
  color: #fff !important;
}
.section2 .btn-learn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
}

.section-images {
  margin-top: 70px;
}
.section-images .sec-img2 {
  background-color: #f1f1f1;
}
.section-images .sec-img1,
.section-images .sec-img3 {
  background-color: #f1f1f1;
  margin-top: 130px;
  max-width: 30% !important;
}

.section3 .byc-text-div {
  text-align: center;
  margin-top: 120px;
}
.section3 .byc-text-div h3 {
  font-weight: 700;
  font-family: "Jost", sans-serif;
}

.section4 {
  margin-top: 100px;
}
.section4 .img-cont1,
.section4 .img-cont2,
.section4 .img-cont3 {
  background-color: #f1f1f1;
  width: 356px;
}
.section4 img {
  width: 100%;
}
.section4 h6 {
  margin-top: 37px;
  font-weight: 700 !important;
  font-size: 18px;
}
.section4 p {
  font-size: 14px;
}

.section5 {
  text-align: center;
  margin-top: 90px;
}
.section5 .btn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
}

.section6 .byc-div {
  background-color: #f1f1f1;
  height: 500px;
  margin-top: 90px;
  padding-top: 140px;
  padding-left: 80px;
}
.section6 .byc-div h3 {
  font-weight: 700;
  font-size: 23px;
  color: #616161;
}
.section6 .byc-div h2 {
  font-weight: 700;
  font-size: 37px;
}
.section6 .byc-div p {
  font-family: "Lato", sans-serif;
  color: #424242;
  font-size: 11px;
  font-weight: 400;
  margin-top: 25px;
}
.section6 .byc-div .btn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
  margin-top: 30px;
}
.section6 .female-div {
  background-color: #f1f1f1;
  margin-top: 13px;
  text-align: center;
  height: 500px;
}
.section6 .female-div img {
  height: 500px;
}
.section6 .children-div {
  background-color: #f1f1f1;
  height: 500px;
  margin-top: 90px;
  margin-left: -19px;
  position: relative;
}
.section6 .children-div img {
  height: 420px;
  position: absolute;
  bottom: 0;
  left: 60px;
}
.section6 .male-div {
  background-color: #f1f1f1;
  height: 500px;
  margin-top: 13px;
  margin-left: -19px;
  position: relative;
}
.section6 .male-div img {
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 60px;
}

.section7 {
  text-align: center;
  margin-top: 130px;
}
.section7 .btn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
}
.section7 h2 {
  margin-top: 130px;
  font-weight: 700;
}

.section8 .cont1 {
  margin-top: 50px;
  justify-content: space-between;
  width: 30%;
  text-align: center;
}
.section8 .cont1 .line1,
.section8 .cont1 .line2,
.section8 .cont1 .line3 {
  display: none;
}
.section8 .cont1 :hover .line1,
.section8 .cont1 :hover .line2,
.section8 .cont1 :hover .line3 {
  display: block;
}
.section8 .cont1 :hover h6 {
  color: #828282;
}
.section8 .cont2 {
  margin-top: 30px;
  justify-content: space-between;
  width: 30%;
  text-align: center;
}
.section8 .cont2 .shirt-div,
.section8 .cont2 .singlet-div,
.section8 .cont2 .pant-div,
.section8 .cont2 .boxer-div {
  height: 45px;
  width: 82px;
  transition-property: all;
  transition-duration: 0.8s;
}
.section8 .shirt-div:hover,
.section8 .singlet-div:hover,
.section8 .pant-div:hover,
.section8 .boxer-div:hover {
  background-color: #d7000f;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  height: 45px;
  width: 82px;
}

.section9 {
  margin-top: 80px;
}
.section9 .arrow-left {
  margin-left: 86px;
  margin-top: 120px;
}
.section9 .arrow-right {
  margin-left: 70px;
  margin-top: 120px;
}
.section9 .cont1 {
  margin-left: 128px;
}
.section9 .img-div34 {
  background-color: #f1f1f1;
  width: 100%;
}
.section9 .img-div34 img {
  width: 100%;
}
.section9 .cont2 {
  margin-right: -77px;
}
.section9 .img-div35 {
  background-color: #f1f1f1;
  height: 259px;
  width: 100%;
}
.section9 .img-div35 img {
  width: 100%;
  height: 259px;
}
.section9 .cont3 {
  margin-right: -25px;
}
.section9 .img-div36 {
  background-color: #f1f1f1;
  width: 100%;
}
.section9 .img-div36 img {
  width: 100%;
}

.section10 {
  text-align: center;
  margin-top: 100px;
}
.section10 .btn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
}
.section10 h4 {
  margin-top: 100px;
  color: #212121;
  font-size: 27px;
  font-weight: 700;
  font-family: "Jost";
}

.section11 {
  margin-top: 100px;
}
.section11 .card {
  height: 780px;
  margin-right: -22px;
  -webkit-box-shadow: 5px 2px 14px -3px rgba(224, 224, 224, 0.78);
  -moz-box-shadow: 5px 2px 14px -3px rgba(224, 224, 224, 0.78);
  box-shadow: 5px 2px 14px -3px rgba(224, 224, 224, 0.78);
}
.section11 .girl-div {
  margin-top: 23px;
  margin-left: 30px;
  width: 80%;
  background-color: #e0e0e0;
}
.section11 .girl-div .eye-icon {
  margin-left: 28px;
  margin-top: auto;
  margin-bottom: auto;
}
.section11 .girl-div p {
  margin-top: auto;
  margin-bottom: auto;
}
.section11 .girl-div .like-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
.section11 .wade-div {
  margin-left: 29px;
  margin-top: 10px;
}
.section11 .wade-div .wade-para {
  color: #424242;
  font-weight: 700;
  font-size: 12px;
}
.section11 .wade-div .fashion-para {
  margin-left: 15px;
  color: #424242;
  font-weight: 400;
  font-size: 12px;
}
.section11 .how-div {
  margin-left: 25px;
  margin-top: 25px;
}
.section11 .how-div h5 {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
}
.section11 .how-div p {
  margin-top: 20px;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  color: #212121;
}
.section11 .how-div .btn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
  text-align: left;
  width: 50%;
  font-size: 13px;
}

.section12 {
  text-align: center;
  margin-top: 60px;
}
.section12 .btn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
}

footer {
  margin-top: 70px;
  height: 500px;
  background-color: #212121;
  color: #fff;
  padding-top: 90px;
}
footer .container {
  width: 100%;
}
footer .container h6 {
  font-weight: 700;
  font-size: 17px;
}
footer .container p {
  font-weight: 400;
  font-size: 13px;
}
footer .cont-cust .foot-img-div {
  margin-left: 1px;
}
footer .cont-signup {
  margin-left: 12px;
}
footer .cont-signup .btn {
  background-color: none;
  border: solid black;
  border-width: 1px;
  height: 55px;
  width: 200px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 0;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  height: 50px;
  font-size: 13px;
  border: solid #fff;
  border-width: 1px;
  color: #fff;
  font-weight: 400;
}
footer .cont-signup .btn img {
  margin-left: 190px;
}
footer .cont-signup .btn p {
  margin-left: 8px;
}
footer .cont-signup .email-div2 {
  margin-top: 25px;
  margin-left: 1px;
}
footer .cont-signup .email-div2 img {
  align-self: start;
}
footer .cont-signup .email-div2 p {
  margin-left: 8px;
}
footer .cont-signup .phone-div {
  margin-left: 1px;
}
footer .cont-signup .phone-div img {
  align-self: start;
}
footer .sec-insta .row {
  justify-content: center;
  gap: 20px;
}
footer .sec-insta .base1 {
  margin-right: 2px;
  position: relative;
}
footer .sec-insta .facebook {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
footer .sec-insta .base2 {
  position: relative;
}
footer .sec-insta .insta {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
footer .sec-insta .base3 {
  position: relative;
}
footer .sec-insta .twitter {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
footer .sec-insta .base4 {
  position: relative;
}
footer .sec-insta .youtube {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
footer .rights-sec {
  text-align: center;
  margin-top: 30px;
}
footer .rights-sec img {
  width: 1100px;
  height: 1px;
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
