@import url("https://fonts.googleapis.com/css2?family=Coiny&family=DM+Sans:wght@100;200;300;400;500;600;700;800&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Sono:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coiny&family=DM+Sans:wght@100;200;300;400;500;600;700;800&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Sono:wght@400;600;700&display=swap");

$main-font: "Jost", sans-serif;
$main-text-color: #81afdd;
$font2: "Lato", sans-serif;
$main-btn-color: none;
